@import url('https://fonts.googleapis.com/css?family=Roboto&display=swap');
@import url('https://fonts.googleapis.com/css?family=Cinzel&display=swap');


body {
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

h1, h2, h3 {
    font-weight: 100;
    letter-spacing: 0.5px;
    margin:0;
    padding:0;
    font-family: 'Cinzel', serif;
}

/* Global */
.container1{
    width: 60%;
    margin:auto;
    overflow:hidden;

}
.container2{
    width: 60%;
    margin:auto;
    margin-top: 30px;
    overflow:hidden;
    padding: 50px;
    padding-top: 10px;
    background: #f4f4f4;
    box-shadow: .5px .5px 35px #999;


}
.container3{
    width: 60%;
    margin:auto;
    overflow-x: hidden;
    padding: 50px;
    padding-top: 0px;
    background: ;
    margin-top: 30px;
    margin-bottom: 30px;
    box-shadow: .5px .5px 35px #999;


}

.container4{
    width: 100%;
    margin-top: 30px;
    overflow:hidden;
    background: #f4f4f4;
}



header ul{
    margin:0;
    padding:0;
}

/* Header */
header{
    background:#2A3331;
    color: white;
    border-bottom:#f6e0b5 2px solid;
    width: 100%;
    overflow: hidden;
    position:fixed;
    box-shadow: 2px 2px 15px #555;
    

    
}

header a{
    color: #fefbf7;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;


}

header a:hover {
    color: #f6e0b5;
    padding: 0px;
    font-weight: bold;

}

header li{
    float:left;
    display:inline;
    padding:0 0 10px 20px;
    margin-top:25px;
    
}

header #branding{
    float:left;
    margin-bottom: 4px;
}

header #branding h1{
    margin-bottom:10px;
    margin-top:15px;
    margin-left: 30px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 28px;
    font-family:Cinzel, serif;
    font-weight: 100
}

header nav {
    float: right;
    margin-right:30px;
    letter-spacing: 1px;
}

header .highlight, header .current a{
    color:#f6e0b5;
    font-weight: ;
    
}

#showcase {
    background-image:url(banner8.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-position:center;
    text-align: center;
    color: white;
}

#showcase h1 {
    margin-top: 195px;
    line-height: 1;
    margin-bottom: 0px;
    font-size: 90px;
    font-weight:0;
    letter-spacing: 2px;
    font-family: 'Cinzel', serif;
    text-shadow: 0px 0px 10px #333;

}
#showcase h3 {
    margin-bottom: 50px;
    font-size: 26px;
    font-weight: bold;
    letter-spacing: 1px;
    text-shadow: 0px 0px 10px #333;
    font-family: Cinzel, serif;
}

#showcase p {
    margin-bottom: 120px;
    font-size: 22px;
    letter-spacing:;
    text-shadow: 0px 0px 5px #333;
    font-family:'Roboto', sans-serif;
    font-weight: 300;


}

#resume{
    padding:0;
    
}

.box {
    text-align: center;
    background: #2A3331;
    padding: 15px;
    color: white;
    margin-bottom: 0px;
    border-bottom:#f6e0b5 3px solid;
    letter-spacing: 1px;
    text-transform:uppercase;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    margin:auto;


}

.red {
    color: #f6e0b5;
    font-weight:600;
    font-size: px;
}

.low {
    text-transform: none;
    
} 

.grad img {
    width: 9%;
    margin-left: 30%;
    margin-right: 2%;
    margin-top: 2%;
    float:left
}

.emcon li {
    line-height: 15px;
    color:white;
    letter-spacing: .4px;;
}

.emcon a{
    color:white;
    text-decoration: none;
}

.emcon {
    margin-top: 4%;
}

footer {
    font-size: 12px;
    color: white;
}

.resumeh1 {
    text-align: center;
    background: #2A3331;
    padding: 0px;
    color: white;
    margin-bottom: 0px;
    border-bottom:#f6e0b5 3px solid;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    margin:auto;

    
}

.container4 {
    background-color: #2A3331;
    border-top:#f6e0b5 2px solid;
    padding-bottom: 20px;
    padding-top: 0px;
    overflow: hidden;

}

.map1 img {
    transition:transform 0.25s ease;
    width: 40%;
    height: 300px;
    margin-top:1%;
    float: right;
    object-fit: scale-down;

}

.map1 img:hover {
    transform:scale(1.1);
}

.map1p {
    margin-right: 50%;
    margin-top: 7%;
    width: 45%;
    font-size: 17px;
    color:#333;

}

hr4 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top:12%;
    margin-bottom: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top:17%;
    margin-bottom: 0;
}
hr1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top:2.2%;
    margin-bottom: 0;
}
hr3 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top:18%;
    margin-bottom: 0;
}

.map2 img {
    transition:transform 0.25s ease;
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 1%;
    margin-left: 0%;
    object-fit: scale-down;
}

.map2 img:hover {
    transform:scale(1.1);

}

.map2p {
    margin-right: %;
    margin-top: 7%;
    width: 45%;
    font-size: 17px;
    color:#333;
}

.map3 img {
    transition:transform 0.25s ease;
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 1%;
    margin-right: %;
    object-fit: scale-down;
}

.map3 img:hover {
    transform:scale(1.1);

}

.map3p {
    margin-right: %;
    margin-top: 7%;
    width: 45%;
    font-size: 17px;
    color:#333;
}

.map4 img {
    transition:transform 0.25s ease;
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 1%;
    margin-left: 0%;
    object-fit: scale-down;
}

.map4 img:hover {
    transform:scale(1.1);
}

.map4p {
      margin-right: %;
    margin-top: 0%;
    width: 45%;
    font-size: 17px;
    color:#333;
    float: left
}


.container2 h3 {
    margin-top: 2%;
    margin-bottom: 1%;
    width: 50%;
    float:left;
    font-size: 26px;
    font-weight: bold;
    color: #333;
    letter-spacing:;
    font-family: Cinzel, serif;
    
}

.contact {
    width: 60%;
    margin:auto;
    overflow: hidden;
    padding-bottom: 0px;
    padding-top: 0px;
    background: #2A3331;


}

.container2 h1 {
    margin-top:10px;
    font-variant-caps:all-petite-caps;
    font-size: 30px;
    font-family: 'Roboto', sans-serif;
    color:#333;
}

container5 {
    width: 60%;
    padding: 0;
    margin:auto;
    overflow-x: hidden;
}

.h1res {
    margin-top:18px;
    letter-spacing: 1px;
    font-variant-caps:all-petite-caps;
    font-size: 32px;
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    text-align: ;
    color:#333;
}

.container3 h3 {
    font-size: 20px;
    margin: 0;
    padding:0;
}

.date1 {
    font-size: 15px;
    margin: 0;
    margin-top: 30px;
    color:#888;
}
.date2 {
    font-size: 15px;
    margin: 0;
    margin-top: 30px;
    color:#888;

}
.date3 {
    font-size: 15px;
    margin: 0;
    margin-top: 30px;
    color:#888;

}
.date4 {
    font-size: 15px;
    margin: 0;
    margin-top: 30px;
    color:#888;

}

.end {
    letter-spacing: 1px;
    line-height: 10px;
    text-shadow: 0px 0px 10px #555;
    padding-bottom: 60px;
}

.map1full img {
    transition:transform 0.25s ease;
    width: 100%;
    margin-top:1%;
    float:right
}

.map2full img {
    transition:transform 0.25s ease;
    width: 100%;
    margin-top:1%;
    float:right
}

.back img {
    width: 7%;
    margin-top: 1%;
}

.skills {
    margin-top: 22px;
}



/* ---- Mobile ---- */

@media only screen and (max-width: 760px) {

body {
    font-family: Roboto, sans-serif;
    margin:0;
    background:#f4f4f4;
    height: auto;
    margin:0;
}

header{
    background:#2A3331;
    color: white;
    border-bottom:#f6e0b5 0.1rem solid;
    width: 100%;
    height:3.2rem;
    overflow: hidden;
    position:fixed;
    box-shadow: 2.5px 2.5px 15px #555;
    
}

header ul{
    margin: 0;
    padding: 0;
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size:1.08rem;
    text-align: center;
    margin-right: auto;
    margin-left: auto;

}

header a:hover {
    color: #f6e0b5;
    font-weight: bold;

}

header li{
    display:inline;
    margin-top:1rem;
    padding-right: 1px;
    
    }

header #branding h1{
    font-size: 0px;
    display: none;
    text-align: center;
    text-align: left;
    text-align: right;
    margin: 0;
}

header nav {
    float:right;
    margin-right:1rem;
    margin-left: auto;
    letter-spacing: 0rem;
    overflow: hidden;
}

header .highlight, header .current a{
    color:#f6e0b5;
    font-weight: ;
    
}

#showcase {
    background-image:url(banner8.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-position:center;
    text-align: center;
    color: white;
}

#showcase h1 {
    margin-top: 6rem;
    font-size: 2.6rem;
    font-weight:bolder;
    letter-spacing: 0.1rem;
    font-family: Cinzel, serif;
    text-shadow: 0px 0px 0.7rem #333;

}

#showcase h3 {
    margin-top: 0;
    margin-bottom: 1rem;
    font-size: .8rem;
    letter-spacing: 1px;
    text-shadow: 0px 0px 0.7rem #333;
    font-weight: 100;

}

#showcase p {
    margin-bottom: 3.5rem;
    margin-top: 1rem;
    font-size: .9rem;
    letter-spacing: 0.02rem;
    text-shadow: 0px 0px 5px #333;
    width: 97%;
    text-align: center;

}

.box {
    background: #2A3331;
    padding: 0.5rem;
    border-bottom:#a2bddb 0.1rem solid;
}

.red {
    color: #f6e0b5;
    font-weight:600;
}

.low {
    text-transform: none;
    
}

.emcon li {
    color:white;
    letter-spacing: 0.03rem;
    text-align: center;
    font-size: 0.8rem;
}

.emcon a{
    color:white;
    text-decoration: none;
}

.grad img {
    display:block;
    width:15%;
    margin-left: auto;
    margin-right: auto;
    margin-top: 3%;
    margin-left: 8%;
}

hr4 {
    display: block;
    border-top: 0.1rem solid #ccc;
    margin-top:7%;
}

hr {
    display: block;
    border-top: 0.1rem solid #ccc;
    margin-top:0%;
}

hr1 {
    display: block;
    border-top: 0.1rem solid #ccc;
}

hr3 {
    display: block;
    border-top: 0.1rem solid #ccc;
    margin-top:10%;
}

h1 {
    font-weight:;
    font-size: rem;
    letter-spacing: 0.5px;
    margin:0;
    padding:0;
    font-family: ;
}

.container1 {
    margin: auto;
    overflow: hidden;
    width: 95%;
    padding:0;
}


.container2 {
    background: ;
    margin: auto;
    overflow: hidden;
    width: 95%;
    padding: 0;
    box-shadow: none;
}
    
.container3 {
    background: ;
    margin: auto;
    overflow: hidden;
    width: 95%;
    font-size: 0.95rem;
    text-align: center;
    margin-bottom: 3rem;
    margin-top: rem;
    padding:0;
    box-shadow: none;

}

.container4 {
    background-color: #2A3331;
    border-top:#f6e0b5 0.1rem solid;
    margin: auto;
    overflow: hidden;
    width: 100%;
    padding-top: 1rem;
    padding-bottom: 0;
}

.map1 img {
    display: block;
    width: 100%;
    height: auto;
    margin-top: 1.2rem;
    margin-bottom: 1rem;
}

.map1p {
    margin-top: 1rem;
    font-size:.95rem;
    color:#333;
    margin-bottom: 3rem;
    width: 97%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.map2 img {
    display:block;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;
}

.map2p {
    margin-top: 3rem;
    font-size:0.95rem;
    color:#333;
    margin-bottom: 3rem;
    width: 97%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.map3 img {
    display:block;
    width: 100%;
    height: auto;
    margin-bottom: 5%;
    margin-top: 5%;

}

.map3p {
    margin-top:;
    font-size:0.95rem;
    color:#333;
    margin-bottom: rem;
    width: 97%;
    height: auto;
    margin-left: auto;
    margin-right: auto;
}

.map4 img {
    display:block;
    width:100%;
    height: auto;
    margin-top: 5%;

}

.map4p {
    margin-top: 1.5rem;
    font-size:0.95rem;
    color:#333;
    margin-bottom: 2rem;
    width: 97%;
    height: auto;
    margin-left: auto;
    margin-right: auto;

}

.container2 h3 {
    margin:0;
    width: 100%;
    height: auto;
    text-align: center;
    font-size: 1.2rem;
    font-weight: bold;
    color: #333;
    letter-spacing: 0.02rem;
    font-family: Cinzel, serif;
    
}

.contact {
    width: 100%;
    margin:auto;
    overflow: hidden;
    background: #2A3331;
    margin-bottom: 1.5rem;

}

.container2 h1 {
    margin-top:.5rem;
    letter-spacing: 0px;
    font-variant-caps:all-petite-caps;
    font-size: 1.3rem;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-align:center;
    color:#333;
}

.date1 {
    font-size: 0rem;
    margin: 0;
    margin-top: 2rem;
    color:#888;
}
.date2 {
    font-size: 0px;
    margin: 0;
    margin-top: 2rem;
    color:#888;

}
.date3 {
    font-size: 0px;
    margin: 0;
    margin-top: 2rem;
    color:#888;

}
.date4 {
    font-size: 0px;
    margin: 0;
    margin-top: 2rem;
    color:#888;

}

.container3 h3 {
    font-size: 1rem;
    padding: 0;
    margin: 0;
}

.container3 h3 {
    font-size: 1.3rem;
    text-align: center;
    line-height: 0rem;
    padding: 1rem;
}

    
.container3 b {
    font-size: 1rem;
    text-align: center;
    line-height: 0rem;
}
    
.container3 p {
    font-size: 1rem;
    text-align: center;
}

.container3 ul {
    font-size: 1rem;
    text-align: left;
    line-height: 1.5rem;
    margin-bottom: 2reml;
}

.h1res {
    margin-top:.5rem;
    letter-spacing: 0px;
    font-variant-caps:all-petite-caps;
    font-size: 1.3rem;
    font-family: Roboto, sans-serif;
    font-weight: 100;
    text-align:center;
    color:#333;
} 
    
.container5 {
    margin: auto;
    overflow: hidden;
    width: 97%;
}
    
    .end {
    letter-spacing: 1px;
    line-height: 10px;
    text-shadow: 0px 0px 10px #555;
    padding-bottom: 60px;
}

.map1full img {
    display: block;
    transition:transform 0.25s ease;
    width: 100%;
    margin-top:1%;
    margin-bottom: 12%;
}

.map2full img {
    transition:transform 0.25s ease;
    width: 100%;
    margin-top:1%;
    float:;
    margin-bottom: 12%;
}

.back img {
    width: 12%;
    margin-top: 2.5%;
}

}