
body {
    font-family: Arial,Helvetica,sans-serif; 
    font-size: 15px;
    line-height: 1.5;
    padding: 0;
    margin: 0;
    background-color: #f4f4f4;
    height: 100%;
}

h1, h2, h3 {
    font-weight: 100;
    letter-spacing: 0.5px;
    margin:0;
    padding:0;
    font-family: Helvetica;
}

/* Global */
.container1{
    width: 60%;
    margin:auto;
    overflow:hidden;

}
.container2{
    width: 60%;
    margin:auto;
    overflow:hidden;
    padding: 50px;
    padding-top: 10px;
    background: #f4f4f4;

}
.container3{
    width: 60%;
    margin:auto;
    overflow-x: hidden;
    padding: 50px;
    padding-top: 30px;
    background: ;
    margin-top: 0px;
    margin-bottom: 30px;

}

.container4{
    width: 100%;
    margin-top: 30px;
    overflow:hidden;
    background: #f4f4f4;
}


header ul{
    margin:0;
    padding:0;
}

/* Header */
header{
    background:#2A3331;
    color: white;
    padding:px;
    min-height: 20px;
    border-bottom:#ff4500 2px solid;
    width: 100%;
    overflow: hidden;
    top:0;
    position: absolute;
    position: ;

    
}

header a{
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-size: 18px;
    margin: 0;


}

header a:hover {
    color: #ff4500;
    padding: 0px;
    font-weight: bold;

}

header li{
    float:left;
    display:inline;
    padding:0 0 10px 20px;
    margin-top:25px;
    
}

header #branding{
    float:left;
    margin-bottom: 4px;
}

header #branding h1{
    margin-bottom:10px;
    margin-top:15px;
    margin-left: 60px;
    letter-spacing: 1.5px;
    text-transform: capitalize;
    font-size: 28px;
    font-family: Helvetica;
    font-weight: 100
}

header nav{
    float:right;
    margin-bottom:px;
    margin-right:60px;
    letter-spacing: 1px;
}

header .highlight, header .current a{
    color:#ff4500;
    font-weight: bold;
    
}

#showcase {
    background-image:url(banner8.jpg);
    background-size: auto;
    background-attachment: fixed;
    background-position:center;
    text-align: center;
    color: white;
}

#showcase h1 {
    margin-top: 175px;
    margin-bottom: px;
    font-size: 78px;
    font-weight:bolder;
    letter-spacing: 2px;
    font-family: serif;
    text-shadow: 0px 0px 10px #333;


}
#showcase h3 {
    margin-bottom: 50px;
    font-size: 25px;
    letter-spacing: 1px;
    text-shadow: 0px 0px 10px #333;
    overflow:

}

#showcase p {
    margin-bottom: 120px;
    font-size: 20px;
    letter-spacing: .5px;
    text-shadow: 0px 0px 5px #333;


}

#resume{
    padding:0;
    
}

.box {
    text-align: center;
    background: #2A3331;
    padding: 15px;
    color: white;
    margin-bottom: 0px;
    border-bottom:#ff4500 3px solid;
    letter-spacing: 1px;
    text-transform:uppercase;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: 100;
    margin:auto;


}

.red {
    color: #ff4500;
    font-weight:600;
    font-size: px;
}

.low {
    text-transform: none;

.grad img {
    width: 9%;
    margin-left: 30%;
    margin-right: 2%;
    margin-top: 2%;
    float:left
}

.emcon li {
    line-height: 15px;
    color:white;
    letter-spacing: .4px;;
}

.emcon a{
    color:white;
    text-decoration: none;
}

.emcon {
    margin-top: 4%;
}

footer {
    font-size: 12px;
    color: white;
}

.resumeh1 {
    text-align: center;
    background: #2A3331;
    padding: 0px;
    color: white;
    margin-bottom: 0px;
    border-bottom:#ff4500 3px solid;
    letter-spacing: 1.5px;
    text-transform: uppercase;
    font-size: 24px;
    font-family: Helvetica;
    font-weight: 100;
    margin:auto;

    
}

.container4 {
    background-color: #2A3331;
    border-top:#ff4500 2px solid;
    padding-bottom: 20px;
    padding-top: 0px;
    overflow: hidden;

}

.map1 img {
    transition:transform 0.25s ease;
    width: 40%;
    height: 300px;
    margin-top:1%;
    float: right;
    object-fit: scale-down;

}

.map1 img:hover {
    transform:scale(1.1);
}

.map1p {
    margin-right: 50%;
    margin-top: 7%;
    width: 45%;
    font-size: 17px;
    color:#333;

}

hr4 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top:12%;
    margin-bottom: 0;
}
hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top:17%;
    margin-bottom: 0;
}
hr1 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top:2.2%;
    margin-bottom: 0;
}
hr3 {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin-top:18%;
    margin-bottom: 0;
}

.map2 img {
    transition:transform 0.25s ease;
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 1%;
    margin-left: 0%;
    object-fit: scale-down;
}

.map2 img:hover {
    transform:scale(1.1);

}

.map2p {
    margin-right: %;
    margin-top: 7%;
    width: 45%;
    font-size: 17px;
    color:#333;
}

.map3 img {
    transition:transform 0.25s ease;
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 1%;
    margin-right: %;
    object-fit: scale-down;
}

.map3 img:hover {
    transform:scale(1.1);

}

.map3p {
    margin-right: %;
    margin-top: 7%;
    width: 45%;
    font-size: 17px;
    color:#333;
}

.map4 img {
    transition:transform 0.25s ease;
    width: 40%;
    height: 300px;
    float: right;
    margin-top: 1%;
    margin-left: 0%;
    object-fit: scale-down;
}

.map4 img:hover {
    transform:scale(1.1);
}

.map4p {
      margin-right: %;
    margin-top: 1%;
    width: 45%;
    font-size: 17px;
    color:#333;
    float: left
}


.container2 h3 {
    margin-top: 1%;
    width: 47%;
    float:left;
    font-size: 30px;
    font-weight: bold;
    color: #333;
    letter-spacing: .8px;
    font-family: serif;
    
}

.contact {
    width: 60%;
    margin:auto;
    overflow: hidden;
    padding-bottom: 0px;
    padding-top: 0px;
    background: #2A3331;


}

.container2 h1 {
    margin-top:10px;
    letter-spacing: 1px;
    font-variant-caps:all-petite-caps;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: 100;
    text-align: ;
    color:#333;
}

.container5 {
    width: 60%;
    margin:auto;
    overflow-x: hidden;
}

.h1res {
    margin-top:18px;
    letter-spacing: 1px;
    font-variant-caps:all-petite-caps;
    font-size: 32px;
    font-family: Helvetica;
    font-weight: 100;
    text-align: ;
    color:#333;
}

.container3 h3 {
    font-size: 20px;
}

.date1 {
    font-size: 15px;
    margin: 0;
    margin-top: 30px;
    color:#888;
}
.date2 {
    font-size: 15px;
    margin: 0;
    margin-top: 30px;
    color:#888;

}
.date3 {
    font-size: 15px;
    margin: 0;
    margin-top: 30px;
    color:#888;

}
.date4 {
    font-size: 15px;
    margin: 0;
    margin-top: 30px;
    color:#888;

}

.end {
    letter-spacing: 1px;
    line-height: 10px;
    text-shadow: 0px 0px 10px #555;
    padding-bottom: 60px;
}

.map1full img {
    transition:transform 0.25s ease;
    width: 100%;
    margin-top:1%;
    float:right
}

.map2full img {
    transition:transform 0.25s ease;
    width: 100%;
    margin-top:1%;
    float:right
}

.back img {
    width: 7%;
    margin-top: 1%;
}

